Software/Controller/.pio
Software/Slave/.pio
Software/Controller/.vscode
Software/Slave/.vscode

Software/Controller/data/config.json
Software/Controller/data/config.json.bak

PCB/DMX_CC_LED_Driver/DMX_CC_LED_Driver-backups
PCB/DMX_ControllerBoard/DMX_ControllerBoard-backups
DMX_ControllerBoard_ESP32/DMX_ControllerBoard-backups

*.kicad_pcb-bak
*.sch-bak
