{
    "wifi_hostname": "lman1",
    "wifi_ssid": "WiFI SSID",
    "wifi_psk": "Password",
    "home_assistant_wait_online_ms": 30000,
    "mqtt_server": "address to mqtt",
    "mqtt_port": 1883,
    "mqtt_username": "",
    "mqtt_password": "",
    "buttonPressMinTime": 80,
    "buttonPressMaxTime": 800,
    "channels": [
        {
            "channel": 1,
            "min": 60,
            "max": 255,
            "dimmingSpeed": 5,
            "holdPeriod": 800,
            "autoDimmingSpeed": 1
        },
        {
            "channel": 2,
            "min": 80,
            "max": 255,
            "dimmingSpeed": 7,
            "holdPeriod": 800,
            "autoDimmingSpeed": 2
        },
        {
            "channel": 3,
            "min": 100,
            "max": 255,
            "dimmingSpeed": 10,
            "holdPeriod": 800,
            "autoDimmingSpeed": 3
        }
    ],
    "buttons": [
        {
            "enabled": 1,
            "channel": 1
        },
        {
            "enabled": 1,
            "channel": 2
        },
        {
            "enabled": 1,
            "channel": 3
        },
        {
            "enabled": 0,
            "channel": 1
        }
    ]
}